<html>
   <head>
      <title>Format Number</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
      <link rel="stylesheet" type="text/css" href="/static/mystyle.css">
      <script src="/static/format_money.js"></script>
   </head>
 <body>
      <div class='container text-center'>
         <h2 id="heading"> Format Number </h2>
         Enter Number: <input type="text" id="input_num" >
         <button class='get_result' id="submit">Submit</button>
         <p class='result' id="result"></p>
      </div>
 </body>
 
</html>